*~
*.pyc
*.pcm
*.d
*.so
*_Dict.cxx
lib/*.tar.gz
lib/*.rootmap
*/obj
test
python/UserInfo_*.py
!python/UserInfo_template.py
keras_my
SKFlatTools
alt_keras
*#
*.log
data/Run2UltraLegacy_v*/201*/TMVA/ChargeScore/*/*/*/*.root
*_backup
data/Run2UltraLegacy_v*/201*/TMVA/*/*/*/*_backup
data/Run2UltraLegacy_v*/201*/TMVA/*/*/*_backup
data/Run2UltraLegacy_v3/script_BtagEff/output
data/Run2UltraLegacy_v3/script_BtagEff/*.tar
data/Run2UltraLegacy_v3/201*/TMVA/ChargeScore/BDT/*/*/*.root